<!-- <div class="border border-[#E4E5E8] w-1/4 py-4 px-5 rounded-md bg-[#F1F2F4]">
  <div class="flex justify-between items-center relative">
    <p class="font-medium font-sans text-sm text-custom-black">
      {{ title }} ({{ itemCount }})
    </p>

    <img
      src="assets/icons/HorizontalDots.svg"
      (click)="onClickThreeDots(dropdownIndex)"
      [ngClass]="dropdown[dropdownIndex] ? 'filter-black' : 'filter-gray'"
      class="cursor-pointer"
    />
    <div
      *ngIf="dropdown[dropdownIndex]"
      class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
    >
      <ul class="list-none">
        <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
          <div class="flex gap-2">
            <img src="assets/icons/Pencil.svg" />
            <p class="font-sans font-medium text-sm text-[#5E6670]">
              Edit Column
            </p>
          </div>
        </li>
        <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
          <div class="flex gap-2">
            <img src="assets/icons/Trash.svg" />
            <p class="font-sans font-medium text-sm text-[#E05151]">Delete</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div
    *ngFor="let item of items"
    class="border border-[#E4E5E8] my-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
  >
    <div class="flex items-center gap-3 p-4">
      <img src="assets/images/Image.png" />
      <div class="flex flex-col gap-1">
        <p class="font-semibold text-sm text-custom-black">{{ item.name }}</p>
        <p class="font-normal text-sm text-custom-gray">{{ item.role }}</p>
      </div>
    </div>

    <hr class="border border-[#E4E5E8] mx-4" />

    <div class="pl-5 pr-4 py-3">
      <ul class="list-disc list-inside">
        <li class="font-normal text-sm text-[#5E6670]">
          {{ item.experience }}
        </li>
        <li class="font-normal text-sm text-[#5E6670]">
          {{ item.appliedDate }}
        </li>
      </ul>
    </div>

    <div class="flex gap-[6px] pl-3 pr-4 py-3 cursor-pointer">
      <img src="assets/icons/DownloadSimple.svg" />
      <p class="font-medium text-sm text-custom-blue">Download CV</p>
    </div>
    <div class="flex justify-center p-2 gap-2 cursor-pointer">
      <img src="assets/icons/tick.svg" />
      <img src="assets/icons/Cross.svg" />
    </div>
  </div>
</div> -->
