<div
  class="flex justify-between items-center bg-[#FCFCFC] shadow-[inset_0_-1px_0_0_#E4E5E8] py-[21px] px-[19px] w-full"
>
  <!-- Left section: Logo -->
  <div class="flex items-center space-x-2">
    <img src="assets/icons/Logo.svg" />
  </div>

  <!-- Right section: Notifications and Profile -->
  <div class="flex items-center space-x-6">
    <div>
      <img src="assets/icons/BellRinging.svg" alt="notifications" class="" />
    </div>
    <div>
      <img src="assets/images/Ellipse18.png" alt="profile" />
    </div>
  </div>
</div>
