<div main class="font-sans mt-6 mx-5">
  <div class="flex justify-between items-end">
    <div class="flex flex-col gap-[6px]">
      <div class="flex items-center gap-2">
        <div (click)="onClickArrowLeft()" class="cursor-pointer">
          <img src="assets/icons/fi_arrow-left.svg" />
        </div>
        <div>
          <p class="font-normal text-sm text-custom-gray">
            {{ jobTitle }}
          </p>
        </div>
      </div>

      <div>
        <p class="font-medium text-custom-black text-xl">Job Applications</p>
      </div>
    </div>
    <div class="font-medium text-sm flex items-center gap-3 relative">
      <div>
        <p class="text-[#5E6670]">Filter</p>
      </div>
      <div class="bg-custom-blue py-[6px] px-3 w-[53px] rounded">
        <button class="text-white" (click)="toggleDropdown()">Sort</button>
      </div>
      <div
        *ngIf="isDropdownVisible()"
        class="absolute z-10 top-full right-0 mt-2 py-3 px-6 bg-white border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)] rounded-lg"
      >
        <div class="p-5 flex flex-col gap-3">
          <p class="whitespace-nowrap font-medium text-xs text-[#9199A3]">
            SORT APPLICATION
          </p>
          <div class="flex gap-2">
            <input
              type="radio"
              id="newest"
              name="sort"
              class="peer w-5 h-5 text-custom-blue border-1.5 checked:border-custom-blue checked:bg-custom-blue focus:ring-custom-blue"
            />
            <label
              for="newest"
              class="peer-checked:font-medium font-medium text-sm text-[#5E6670] peer-checked:text-custom-black"
              >Newest</label
            >
          </div>
          <div class="flex gap-2">
            <input
              type="radio"
              id="oldest"
              name="sort"
              class="peer w-5 h-5 text-custom-blue border-1.5 checked:border-custom-blue checked:bg-custom-blue focus:ring-custom-blue"
            />
            <label
              for="oldest"
              class="peer-checked:font-medium font-medium text-[#5E6670] text-sm peer-checked:text-custom-black"
              >Oldest</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-6 flex gap-3">
    <!-- <div class="overflow-y-auto max-h-[500px] w-full "> -->
    <div
      cards
      class="border border-[#E4E5E8] w-1/4 py-4 px-4 rounded-md bg-[#F1F2F4] h-[300px] overflow-auto"
    >
      <div class="flex justify-between items-center relative">
        <p class="font-medium font-sans text-sm text-custom-black">
          All Applications ({{ totalApplicants }})
        </p>

        <img
          src="assets/icons/HorizontalDots.svg"
          (click)="onClickThreeDots(0)"
          [ngClass]="dropdown[0] ? 'filter-black' : 'filter-gray'"
          class="cursor-pointer"
        />
        <div
          *ngIf="dropdown[0]"
          class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
        >
          <ul class="list-none">
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Pencil.svg" />
                <p class="font-sans font-medium text-sm text-[#5E6670]">
                  Edit Column
                </p>
              </div>
            </li>
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Trash.svg" />
                <p class="font-sans font-medium text-sm text-[#E05151]">
                  Delete
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        *ngFor="let item of applicants"
        class="border border-[#E4E5E8] my-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
      >
        <div name class="flex items-center gap-3 p-4">
          <img src="assets/images/Image.png" />

          <div class="flex flex-col gap-1">
            <p class="font-semibold text-sm text-custom-black">
              {{ item.name | capitalizeWords }}
            </p>

            <p class="font-normal text-sm text-custom-gray">
              {{ item.jobTitle }}
            </p>
          </div>
        </div>

        <hr class="border border-[#E4E5E8] mx-4" />

        <div info class="my-4">
          <ul class="list-disc list-inside">
            <li class="font-normal text-sm text-[#5E6670]">
              Experience {{ item.experience }}
            </li>
            <li class="font-normal text-sm text-[#5E6670]">
              Applied: {{ item.createdAt | date }}
            </li>
          </ul>
        </div>
        <div class="flex gap-[6px] pl-4 py-3 cursor-pointer" (click)="downloadResume(item.resume)" [class.loading]="resumeLoading">
          <img *ngIf="!resumeLoading" src="assets/icons/DownloadSimple.svg" />
          <p class="font-medium text-sm text-custom-blue">
            {{ resumeLoading ? 'Downloading...' : 'Download CV' }}
          </p>
        </div>
        
        <div class="flex flex-col items-center justify-center p-2 gap-2">
          <p class="text-sm text-gray-500" *ngIf="!isShortListed(item._id)">
            Click to Short List
          </p>
          <button
            (click)="createShortListedApplicant(item._id)"
            [disabled]="isJobExpired() || isShortListed(item._id)"
            [ngClass]="{
              'bg-gray-400 text-white': isJobExpired(),
              'bg-green-500 ': !isJobExpired() && isShortListed(item._id),
              'bg-blue-500 text-white cursor-pointer':
                !isJobExpired() && !isShortListed(item._id)
            }"
            class="px-4 py-2 rounded-md cursor-pointer"
          >
            {{
              isJobExpired()
                ? "Job Expired"
                : isShortListed(item._id)
                ? "Already ShortListed"
                : "Short List"
            }}
          </button>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 py-4 px-4 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative">
        <p class="font-medium font-sans text-sm text-custom-black">
          Shortlisted ({{ shortListedCount }})
        </p>

        <img
          src="assets/icons/HorizontalDots.svg"
          (click)="onClickThreeDots(1)"
          [ngClass]="dropdown[1] ? 'filter-black' : 'filter-gray'"
          class="cursor-pointer"
        />
        <div
          *ngIf="dropdown[1]"
          class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
        >
          <ul class="list-none">
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Pencil.svg" />
                <p class="font-sans font-medium text-sm text-[#5E6670]">
                  Edit Column
                </p>
              </div>
            </li>
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Trash.svg" />
                <p class="font-sans font-medium text-sm text-[#E05151]">
                  Delete
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        *ngFor="let item of shortListedArray"
        class="border border-[#E4E5E8] my-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
      >
        <div name class="flex items-center gap-3 p-4">
          <img src="assets/images/Image.png" />

          <div class="flex flex-col gap-1">
            <p class="font-semibold text-sm text-custom-black">
              {{ item.name | capitalizeWords }}
            </p>

            <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
          </div>
        </div>

        <hr class="border border-[#E4E5E8] mx-4" />

        <div info class="my-4">
          <ul class="list-disc list-inside">
            <li class="font-normal text-sm text-[#5E6670]">
              Experience {{ item.experience }}
            </li>
            <li class="font-normal text-sm text-[#5E6670]">
              Applied: {{ item.createdAt | date }}
            </li>
          </ul>
        </div>

        <div class="flex gap-[6px] pl-3 pr-4 py-3 cursor-pointer">
          <img src="assets/icons/DownloadSimple.svg" />

          <p class="font-medium text-sm text-custom-blue">Download CV</p>
        </div>
        <div class="flex flex-col justify-center items-center p-2 gap-2">
          <p class="text-sm text-gray-500" *ngIf="!isTestInvited(item._id)">
            Click to invite for a test
          </p>
          <button
            (click)="createShortListedApplicantsForJob(item._id)"
            [disabled]="isJobExpired() || isTestInvited(item._id)"
            [ngClass]="{
              'bg-gray-400 text-white': isJobExpired(),
              'bg-green-500 cursor-pointer ':
                !isJobExpired() && isTestInvited(item._id),
              'bg-blue-500 text-white cursor-pointer':
                !isJobExpired() && !isTestInvited(item._id)
            }"
            class="px-4 py-2 rounded-md cursor-pointer"
          >
            {{
              isJobExpired()
                ? "Job Expired"
                : isTestInvited(item._id)
                ? "Already Invited"
                : "Invite For Test"
            }}
          </button>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 py-4 px-5 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative">
        <p class="font-medium font-sans text-sm text-custom-black">
          Test Invite ({{ testInvitedCount }})
        </p>

        <img
          src="assets/icons/HorizontalDots.svg"
          (click)="onClickThreeDots(2)"
          [ngClass]="dropdown[2] ? 'filter-black' : 'filter-gray'"
          class="cursor-pointer"
        />
        <div
          *ngIf="dropdown[2]"
          class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
        >
          <ul class="list-none">
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Pencil.svg" />
                <p class="font-sans font-medium text-sm text-[#5E6670]">
                  Edit Column
                </p>
              </div>
            </li>
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Trash.svg" />
                <p class="font-sans font-medium text-sm text-[#E05151]">
                  Delete
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        *ngFor="let item of testInvitedArray"
        class="border border-[#E4E5E8] my-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
      >
        <div name class="flex items-center gap-3 p-4">
          <img src="assets/images/Image.png" />

          <div class="flex flex-col gap-1">
            <p class="font-semibold text-sm text-custom-black">
              {{ item.name | capitalizeWords }}
            </p>

            <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
          </div>
        </div>

        <hr class="border border-[#E4E5E8] mx-4" />

        <div info class="my-4">
          <ul class="list-disc list-inside">
            <li class="font-normal text-sm text-[#5E6670]">
              Experience {{ item.experience }}
            </li>
            <li class="font-normal text-sm text-[#5E6670]">
              Applied: {{ item.createdAt | date }}
            </li>
          </ul>
        </div>

        <div class="flex gap-[6px] pl-3 pr-4 py-3 cursor-pointer">
          <img src="assets/icons/DownloadSimple.svg" />

          <button class="font-medium text-sm text-custom-blue">Download CV</button>

        </div>
        <div class="flex flex-col items-center justify-center p-2 gap-2">
          <p class="text-sm text-gray-500" *ngIf="!isHired(item._id)">
            Click to Hire
          </p>
          <button
            (click)="createHiredApplicantsForJob(item._id)"
            [disabled]="isJobExpired() || isHired(item._id)"
            [ngClass]="{
              'bg-gray-400 text-white': isJobExpired(),
              'bg-green-500 cursor-pointer ':
                !isJobExpired() && isHired(item._id),
              'bg-blue-500  text-white cursor-pointer':
                !isJobExpired() && !isHired(item._id)
            }"
            class="px-4 py-2 rounded-md"
          >
            {{
              isJobExpired()
                ? "Job Expired"
                : isHired(item._id)
                ? "Already Hired"
                : "Hire"
            }}
          </button>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 py-4 px-5 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative">
        <p class="font-medium font-sans text-sm text-custom-black">
          Hired Candidates ({{ hiredApplicantCount }})
        </p>

        <img
          src="assets/icons/HorizontalDots.svg"
          (click)="onClickThreeDots(3)"
          [ngClass]="dropdown[3] ? 'filter-black' : 'filter-gray'"
          class="cursor-pointer"
        />
        <div
          *ngIf="dropdown[3]"
          class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
        >
          <ul class="list-none">
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Pencil.svg" />
                <p class="font-sans font-medium text-sm text-[#5E6670]">
                  Edit Column
                </p>
              </div>
            </li>
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Trash.svg" />
                <p class="font-sans font-medium text-sm text-[#E05151]">
                  Delete
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        *ngFor="let item of hiredApplicantArray"
        class="border border-[#E4E5E8] my-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
      >
        <div name class="flex items-center gap-3 p-4">
          <img src="assets/images/Image.png" />

          <div class="flex flex-col gap-1">
            <p class="font-semibold text-sm text-custom-black">
              {{ item.name | capitalizeWords }}
            </p>

            <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
          </div>
        </div>

        <hr class="border border-[#E4E5E8] mx-4" />

        <div info class="my-4">
          <ul class="list-disc list-inside">
            <li class="font-normal text-sm text-[#5E6670]">
              Experience {{ item.experience }}
            </li>
            <li class="font-normal text-sm text-[#5E6670]">
              Applied: {{ item.createdAt | date }}
            </li>
          </ul>
        </div>

        <div class="flex gap-[6px] pl-3 pr-4 py-3 cursor-pointer">
          <img src="assets/icons/DownloadSimple.svg" />

          <p class="font-medium text-sm text-custom-blue">Download CV</p>
        </div>
        <!-- <div class="flex justify-center p-2 gap-2 cursor-pointer">
          <img src="assets/icons/tick.svg" />
          <img src="assets/icons/Cross.svg" />
        </div> -->
      </div>
    </div>
  </div>
</div>
