<div main class="font-sans mt-6 mx-5">
  <div class="flex justify-between items-end">
    <div class="flex flex-col gap-[6px]">
      <div class="flex items-center gap-2">
        <div (click)="onClickArrowLeft()" class="cursor-pointer">
          <img src="assets/icons/fi_arrow-left.svg" />
        </div>
        <div>
          <p class="font-normal text-sm text-custom-gray">
            {{ jobTitle }}
          </p>
        </div>
      </div>

      <div>
        <p class="font-medium text-custom-black text-xl">Job Applications</p>
      </div>
    </div>
  </div>
  <div class="my-6 flex gap-3">
    <!-- <div class="overflow-y-auto max-h-[500px] w-full "> -->
    <div
      cards
      class="border border-[#E4E5E8] w-1/4 h-3/4 py-4 px-4 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative mb-3">
        <p class="font-medium font-sans text-sm text-custom-black">
          All Applications ({{ totalApplicants }})
        </p>
      </div>
      <div class="overflow-auto max-h-[320px]">
        <div
          *ngFor="let item of applicants"
          class="border border-[#E4E5E8] mb-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
        >
          <div name class="flex items-center gap-3 p-4">
            <img src="assets/images/Image.png" />

            <div class="flex flex-col gap-1">
              <p class="font-semibold text-sm text-custom-black">
                {{ item.name | capitalizeWords }}
              </p>

              <p class="font-normal text-sm text-custom-gray">
                {{ item.jobTitle }}
              </p>
            </div>
          </div>

          <hr class="border border-[#E4E5E8] mx-4" />

          <div info class="my-4">
            <ul class="list-disc list-inside">
              <li class="font-normal text-sm text-[#5E6670]">
                Experience {{ item.experience }}
              </li>
              <li class="font-normal text-sm text-[#5E6670]">
                Applied: {{ item.createdAt | date }}
              </li>
            </ul>
          </div>

          <div class="flex gap-[35px] pl-4 py-3">
            <div
              class="cursor-pointer flex justify-between"
              (click)="downloadResume(item.resume)"
              [class.loading]="resumeLoading[item.resumeId]"
            >
              <div class="flex gap-[6px]">
                <img
                  *ngIf="!resumeLoading[item.resume]"
                  src="assets/icons/DownloadSimple.svg"
                />

                <p class="font-medium text-sm text-custom-blue">
                  {{
                    resumeLoading[item.resume]
                      ? "Downloading..."
                      : "Download CV"
                  }}
                </p>
              </div>
            </div>
            <div>
              <img
                *ngIf="!resumeViewLoading[item.resume]"
                src="assets/icons/Eye.svg"
                alt=""
                (click)="viewResume(item.resume)"
                class="cursor-pointer"
                [class.loading]="resumeViewLoading[item.resume]"
              />
              <p>
                {{ resumeViewLoading[item.resume] ? "..." : "" }}
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center justify-center p-2 gap-2">
            <p class="text-sm text-gray-500" *ngIf="!isShortListed(item._id)">
              Click to Short List
            </p>
            <button
              (click)="createShortListedApplicant(item._id, item.name)"
              [disabled]="isJobExpired() || isShortListed(item._id)"
              [ngClass]="{
                'bg-gray-400 text-white': isJobExpired(),
                'bg-custom-green ': !isJobExpired() && isShortListed(item._id),
                'bg-blue-500 text-white cursor-pointer':
                  !isJobExpired() && !isShortListed(item._id)
              }"
              class="px-4 py-2 rounded-md cursor-pointer"
            >
              {{
                isJobExpired()
                  ? "Job Expired"
                  : isShortListed(item._id)
                  ? "ShortListed"
                  : "Short List"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 h-3/4 py-4 px-4 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative mb-3">
        <p class="font-medium font-sans text-sm text-custom-black">
          Shortlisted ({{ shortListedCount }})
        </p>

        <!-- <img
          src="assets/icons/HorizontalDots.svg"
          (click)="onClickThreeDots(1)"
          [ngClass]="dropdown[1] ? 'filter-black' : 'filter-gray'"
          class="cursor-pointer"
        /> -->
        <!-- <div
          *ngIf="dropdown[1]"
          class="absolute top-full right-0 mt-1 p-3 bg-white rounded-md border border-[#E9EAED] shadow-[0px_12px_32px_0px_rgba(24,25,28,0.08)]"
        >
          <ul class="list-none">
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Pencil.svg" />
                <p class="font-sans font-medium text-sm text-[#5E6670]">
                  Edit Column
                </p>
              </div>
            </li>
            <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
              <div class="flex gap-2">
                <img src="assets/icons/Trash.svg" />
                <p class="font-sans font-medium text-sm text-[#E05151]">
                  Delete
                </p>
              </div>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="overflow-auto max-h-[320px]">
        <div
          *ngFor="let item of shortListedArray"
          class="border border-[#E4E5E8] mb-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
        >
          <div name class="flex items-center gap-3 p-4">
            <img src="assets/images/Image.png" />

            <div class="flex flex-col gap-1">
              <p class="font-semibold text-sm text-custom-black">
                {{ item.name | capitalizeWords }}
              </p>

              <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
            </div>
          </div>

          <hr class="border border-[#E4E5E8] mx-4" />

          <div info class="my-4">
            <ul class="list-disc list-inside">
              <li class="font-normal text-sm text-[#5E6670]">
                Experience {{ item.experience }}
              </li>
              <li class="font-normal text-sm text-[#5E6670]">
                Applied: {{ item.createdAt | date }}
              </li>
            </ul>
          </div>

          <div class="flex gap-[35px] pl-4 py-3">
            <div
              class="cursor-pointer flex justify-between"
              (click)="downloadResume(item.resume)"
              [class.loading]="resumeLoading[item.resumeId]"
            >
              <div class="flex gap-[6px]">
                <img
                  *ngIf="!resumeLoading[item.resume]"
                  src="assets/icons/DownloadSimple.svg"
                />

                <p class="font-medium text-sm text-custom-blue">
                  {{
                    resumeLoading[item.resume]
                      ? "Downloading..."
                      : "Download CV"
                  }}
                </p>
              </div>
            </div>
            <div>
              <img
                *ngIf="!resumeViewLoading[item.resume]"
                src="assets/icons/Eye.svg"
                alt=""
                (click)="viewResume(item.resume)"
                class="cursor-pointer"
                [class.loading]="resumeViewLoading[item.resume]"
              />
              <p>
                {{ resumeViewLoading[item.resume] ? "..." : "" }}
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-center items-center p-2 gap-2">
            <p class="text-sm text-gray-500" *ngIf="!isTestInvited(item._id)">
              Click to select tests
            </p>
            <button
              [disabled]="isJobExpired() || isTestInvited(item._id)"
              [ngClass]="{
                'bg-gray-400 text-white': isJobExpired(),
                'bg-custom-green text-white cursor-pointer':
                  !isJobExpired() && isTestInvited(item._id),
                'bg-blue-500 text-white cursor-pointer':
                  !isJobExpired() && !isTestInvited(item._id)
              }"
              class="px-4 py-2 rounded-md cursor-pointer"
              (click)="openTestSelectionModal(item._id)"
            >
              {{
                isJobExpired()
                  ? "Job Expired"
                  : isTestInvited(item._id)
                  ? "Invited"
                  : "Select Test"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 py-4 px-5 h-3/4 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative mb-3">
        <p class="font-medium font-sans text-sm text-custom-black">
          Test Invite ({{ testInvitedCount }})
        </p>
      </div>
      <div class="overflow-auto max-h-[320px]">
        <div
          *ngFor="let item of testInvitedArray"
          class="border border-[#E4E5E8] mb-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
        >
          <div name class="flex items-center gap-3 p-4">
            <img src="assets/images/Image.png" />

            <div class="flex flex-col gap-1">
              <p class="font-semibold text-sm text-custom-black">
                {{ item.name | capitalizeWords }}
              </p>

              <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
            </div>
          </div>

          <hr class="border border-[#E4E5E8] mx-4" />

          <div info class="my-4">
            <ul class="list-disc list-inside">
              <li class="font-normal text-sm text-[#5E6670]">
                Experience {{ item.experience }}
              </li>
              <li class="font-normal text-sm text-[#5E6670]">
                Applied: {{ item.createdAt | date }}
              </li>
            </ul>
          </div>

          <div class="flex gap-[35px] pl-4 py-3">
            <div
              class="cursor-pointer flex justify-between"
              [class.loading]="resumeLoading[item.resumeId]"
              (click)="downloadResume(item.resume)"
            >
              <div class="flex gap-[6px]">
                <img
                  *ngIf="!resumeLoading[item.resume]"
                  src="assets/icons/DownloadSimple.svg"
                />

                <p class="font-medium text-sm text-custom-blue">
                  {{
                    resumeLoading[item.resume]
                      ? "Downloading..."
                      : "Download CV"
                  }}
                </p>
              </div>
            </div>
            <div>
              <img
                *ngIf="!resumeViewLoading[item.resume]"
                src="assets/icons/Eye.svg"
                alt=""
                (click)="viewResume(item.resume)"
                class="cursor-pointer"
                [class.loading]="resumeViewLoading[item.resume]"
              />
              <p>
                {{ resumeViewLoading[item.resume] ? "..." : "" }}
              </p>
            </div>
          </div>
          <div class="flex flex-col items-center justify-center p-2 gap-2">
            <p class="text-sm text-gray-500" *ngIf="!isOnsite(item._id)">
              Click to Invite
            </p>
            <button
              (click)="createOnsiteApplicantsForJob(item._id, item.name)"
              [disabled]="isJobExpired() || isOnsite(item._id)"
              [ngClass]="{
                'bg-gray-400 text-white': isJobExpired(),
                'bg-custom-green cursor-pointer ':
                  !isJobExpired() && isOnsite(item._id),
                'bg-blue-500  text-white cursor-pointer':
                  !isJobExpired() && !isOnsite(item._id)
              }"
              class="px-4 py-2 rounded-md"
            >
              {{
                isJobExpired()
                  ? "Job Expired"
                  : isOnsite(item._id)
                  ? "Invited"
                  : "Invite"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      cards
      class="border border-[#E4E5E8] w-1/4 h-3/4 py-4 px-5 rounded-md bg-[#F1F2F4]"
    >
      <div class="flex justify-between items-center relative mb-3">
        <p class="font-medium font-sans text-sm text-custom-black">
          Onsite Candidates ({{ onsiteApplicantCount }})
        </p>
      </div>
      <div class="overflow-auto max-h-[320px]">
        <div
          *ngFor="let item of onsiteApplicantArray"
          class="border border-[#E4E5E8] mb-3 rounded-md bg-white shadow-[0px_3px_16px_0px_rgba(24,25,28,0.04)]"
        >
          <div name class="flex items-center gap-3 p-4">
            <img src="assets/images/Image.png" />

            <div class="flex flex-col gap-1">
              <p class="font-semibold text-sm text-custom-black">
                {{ item.name | capitalizeWords }}
              </p>

              <p class="font-normal text-sm text-custom-gray">{{ jobTitle }}</p>
            </div>
          </div>

          <hr class="border border-[#E4E5E8] mx-4" />

          <div info class="my-4">
            <ul class="list-disc list-inside">
              <li class="font-normal text-sm text-[#5E6670]">
                Experience {{ item.experience }}
              </li>
              <li class="font-normal text-sm text-[#5E6670]">
                Applied: {{ item.createdAt | date }}
              </li>
            </ul>
          </div>

          <div class="flex gap-[35px] pl-4 py-3">
            <div
              class="cursor-pointer flex justify-between"
              [class.loading]="resumeLoading[item.resumeId]"
              (click)="downloadResume(item.resume)"
            >
              <div class="flex gap-[6px]">
                <img
                  *ngIf="!resumeLoading[item.resume]"
                  src="assets/icons/DownloadSimple.svg"
                />

                <p class="font-medium text-sm text-custom-blue">
                  {{
                    resumeLoading[item.resume]
                      ? "Downloading..."
                      : "Download CV"
                  }}
                </p>
              </div>
            </div>
            <div>
              <img
                *ngIf="!resumeViewLoading[item.resume]"
                src="assets/icons/Eye.svg"
                alt=""
                (click)="viewResume(item.resume)"
                class="cursor-pointer"
                [class.loading]="resumeViewLoading[item.resume]"
              />
              <p>
                {{ resumeViewLoading[item.resume] ? "..." : "" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
