<div class="font-sans bg-[#FCFCFC] p-4">
  <div header class="flex justify-between items-center my-9">
    <p class="font-medium text-2xl">Technical Interview</p>
    <div
      *ngIf="!displayForms"  
      class="bg-custom-blue py-4 px-8 flex gap-3 justify-center items-center rounded-[4px] cursor-pointer"
      [routerLink]="['/createTestQuestions']"
    >
      <img src="assets/icons/fi_plus-circle.svg" />
      <p class="font-medium text-white text-base">Generate Questions</p>
    </div>
  </div>

  <div class="flex justify-center w-full items-center gap-5 mb-4">
    <p class="cursor-pointer rounded-md px-4 py-2" 
       [ngClass]="{'bg-custom-blue text-white': selectedTab === 'questions', 'bg-gray-100 text-gray-600': selectedTab !== 'questions'}" 
       (click)="showQuestions()">
      Questions
    </p>
    <p class="cursor-pointer rounded-md px-4 py-2" 
       [ngClass]="{'bg-custom-blue text-white': selectedTab === 'forms', 'bg-gray-100 text-gray-600': selectedTab !== 'forms'}" 
       (click)="showForms()">
      Forms
    </p>
  </div>

  <app-form-card *ngIf="displayForms"  [forms]="forms"></app-form-card>
  <app-question-card *ngIf="displayQuestions"[questions]="tests" class="mt-16"></app-question-card>
</div>
