<div class="flex flex-col justify-center items-center mt-3">
  <div class="flex flex-col justify-center items-center">
    <img src="assets/images/sdsol.png" />
  </div>
  <div class="hourglassBackground">
    <div class="hourglassContainer">
      <div class="hourglassCurves"></div>
      <div class="hourglassCapTop"></div>
      <div class="hourglassGlassTop"></div>
      <div class="hourglassSand"></div>
      <div class="hourglassSandStream"></div>
      <div class="hourglassCapBottom"></div>
      <div class="hourglassGlass"></div>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <h2 class="text-3xl font-semibold text-black tracking-wide animate-pulse">
      Loading Resources<span class="animate-dots">...</span>
    </h2>
  </div>
</div>
