<div class="flex flex-col justify-center items-center mt-40">
  <!-- <div class="flex flex-col justify-center items-center">
    <img src="assets/images/sdsol.png" />
  </div> -->
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="flex items-center justify-center">
    <h2 class="text-3xl font-semibold text-black tracking-wide animate-pulse">
      Loading Resources<span class="animate-dots">...</span>
    </h2>
  </div>
</div>
