<div class="flex justify-between mb-8 bg-[#FCFCFC] w-full">
  <div class="font-sans flex flex-col gap-2">
    <p class="font-medium text-2xl text-[#18191C]">Hello, sdsol</p>
    <p class="font-normal text-sm text-custom-gray">
      Here is your daily activities and applications  
    </p>
  </div>
  <div
    class="bg-custom-blue py-4 px-9 flex gap-3 justify-center items-center rounded-[4px]"
  >
    <img src="assets/icons/fi_plus-circle.svg" />
    <p class="font-semibold font-sans text-white text-base">Post a Job</p>
  </div>
</div>
