<!-- <div class="flex gap-6">
  <div class="flex items-center bg-[#E7F0FA] py-5 px-8 gap-6">
    <div class="font-sans text-custom-black flex flex-col gap-1 mx-4">
      <p class="font-semibold text-2xl">589</p>
      <p class="font-normal text-sm">Open Jobs</p>
    </div>
    <div class="bg-white p-4 rounded-md">
      <img src="assets/icons/briefcase-duotone.svg" />
    </div>
  </div>

  <div class="flex items-center bg-[#E7F0FA] py-5 px-8 gap-6">
    <div
      class="font-sans text-custom-black flex flex-col gap-1 mx-4 border-2 border-red-300"
    >
      <p class="font-semibold text-2xl">589</p>
      <p class="font-normal text-sm">Open Jobs</p>
    </div>
    <div class="bg-white p-4 rounded-md">
      <img src="assets/icons/briefcase-duotone.svg" />
    </div>
  </div>

  <div class="flex items-center bg-[#E7F0FA] py-5 px-8 gap-6">
    <div class="font-sans text-custom-black flex flex-col gap-1 mx-4">
      <p class="font-semibold text-2xl">589</p>
      <p class="font-normal text-sm">Open Jobs</p>
    </div>
    <div class="bg-white p-4 rounded-md">
      <img src="assets/icons/briefcase-duotone.svg" />
    </div>
  </div>

  <div class="flex items-center bg-[#E7F0FA] py-5 px-8 gap-6">
    <div class="font-sans text-custom-black flex flex-col gap-1 mx-4">
      <p class="font-semibold text-2xl">589</p>
      <p class="font-normal text-sm">Open Jobs</p>
    </div>
    <div class="bg-white p-4 rounded-md">
      <img src="assets/icons/briefcase-duotone.svg" />
    </div>
  </div>
</div> -->

<div class="flex gap-3 w-full">
  <div
    class="rounded-lg bg-[#E7F0FA] flex justify-between items-center py-6 px-[25px] w-1/4"
  >
    <div class="flex flex-col gap-1 font-sans text-custom-black">
      <div>
        <p class="font-semibold text-2xl">{{ activeJobCount }}</p>
      </div>
      <div>
        <p class="whitespace-nowrap font-normal text-sm">Open Jobs</p>
      </div>
    </div>
    <div
      class="w-16 h-16 rounded-[5px] bg-white flex justify-center items-center"
    >
      <img src="assets/icons/briefcase-duotone.svg" />
    </div>
  </div>

  <div
    class="bg-[#DDFFE4] rounded-lg flex justify-between items-center py-6 px-[25px] w-1/4"
  >
    <div class="flex flex-col gap-1 font-sans text-custom-black">
      <div>
        <p class="font-sans font-semibold text-2xl">589</p>
      </div>
      <div>
        <p class="whitespace-nowrap font-normal text-sm">Hired Candidates</p>
      </div>
    </div>
    <div
      class="w-16 h-16 rounded-[5px] flex justify-center items-center bg-white"
    >
      <img src="assets/icons/UsersGreen.svg" />
    </div>
  </div>

  <div
    class="bg-[#FFF6E6] rounded-lg flex justify-between items-center py-6 px-[25px] w-1/4"
  >
    <div class="flex flex-col gap-1 font-sans text-custom-black">
      <div>
        <p class="font-sans font-semibold text-2xl">589</p>
      </div>
      <div>
        <p class="whitespace-nowrap font-normal text-sm">
          Short listed Candidate
        </p>
      </div>
    </div>
    <div
      class="w-16 h-16 rounded-[5px] flex justify-center items-center bg-white"
    >
      <img src="assets/icons/IdentificationCard.svg" />
    </div>
  </div>

  <div
    class="bg-[#FFF6E6] rounded-lg flex justify-between items-center py-6 px-[25px] w-1/4"
  >
    <div class="flex flex-col gap-1 font-sans text-custom-black">
      <div>
        <p class="font-sans font-semibold text-2xl">{{ expiredJobCount }}</p>
      </div>
      <div>
        <p class="whitespace-nowrap font-normal text-sm">Expired Jobs</p>
      </div>
    </div>
    <div
      class="w-16 h-16 rounded-[5px] flex justify-center items-center bg-white"
    >
      <img src="assets/icons/XCircleRed.svg" />
    </div>
  </div>
</div>
