<div class="font-sans flex justify-between items-center py-5 px-10">
  <p class="font-medium text-xl text-custom-black">
    My Jobs <span class="font-normal text-[#9199a3]">(599)</span>
  </p>
  <div
    (click)="onClickPostJob()"
    class="bg-custom-blue py-4 px-9 flex gap-3 justify-center items-center rounded-[4px] cursor-pointer"
  >
    <img src="assets/icons/fi_plus-circle.svg" />
    <p class="font-semibold font-sans text-white text-base">Post a Job</p>
  </div>
</div>

<div table class="py-5 px-10">
  <!-- < class="overflow-auto h-[400px]"> -->
  <table class="min-w-full">
    <thead class="bg-[#F1F2F4]">
      <tr>
        <th
          class="font-sans font-normal text-[12px] leading-[18px] text-[#474C54] py-[10px] pl-[10px] text-left"
        >
          {{ "jobs" | uppercase }}
        </th>
        <th
          class="font-sans font-normal text-[12px] leading-[18px] text-[#474C54] py-[10px] pl-[30px] text-left"
        >
          {{ "status" | uppercase }}
        </th>
        <th
          class="font-sans font-normal text-[12px] leading-[18px] text-[#474C54] py-[10px] pl-[30px] text-left"
        >
          {{ "applications" | uppercase }}
        </th>
        <th
          class="font-sans font-normal text-[12px] leading-[18px] text-[#474C54] py-[10px] pl-[30px] text-left"
        >
          {{ "actions" | uppercase }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of paginatedJobs; let i = index"
        class="shadow-[inset_0_-1px_0_0_#E4E5E8]"
      >
        <td class="py-[10px] pl-[10px] text-left">
          <div class="flex flex-col gap-[8px]">
            <p
              class="font-sans font-medium text-[16px] leading-[24px] text-[#18191C]"
            >
              UI/UI Designer
            </p>
            <div
              class="text-custom-gray font-sans font-normal text-[12px] leading-[20px] flex gap-[10px] items-center"
            >
              <p>Full Time</p>

              <p class="mb-3 text-[23px]">.</p>

              <p>27 days remaining</p>
            </div>
          </div>
        </td>

        <td class="py-[10px] pl-[30px] text-left">
          <div class="flex gap-[4px]">
            <img src="assets/icons/CheckCircle.svg" />
            <p
              class="font-sans font-medium text-[14px] leading-[20px] text-custom-green"
            >
              Active
            </p>
          </div>
        </td>
        <td class="py-[10px] pl-[30px] text-left">
          <div class="flex gap-2 items-center">
            <img src="assets/icons/Users.svg" />
            <p
              class="font-sans font-normal text-[14px] leading-[20px] text-[#5E6670]"
            >
              798 Applications
            </p>
          </div>
        </td>
        <td class="py-[10px] pl-[30px] text-left">
          <div class="flex gap-2 relative">
            <button
              (click)="onClickViewApplication()"
              class="font-sans font-semibold text-base text-custom-blue bg-[#F1F2F4] py-3 px-6 cursor-pointer rounded-[3px] hover:bg-custom-blue hover:text-white transition duration-200"
            >
              View Applications
            </button>
            <img
              src="assets/icons/DotsThreeVertical.svg"
              (click)="onClickThreeDots(i)"
              class="cursor-pointer"
            />
            <div
              *ngIf="dropdownIndex === i"
              class="absolute bg-white shadow-md rounded-md mt-14 ml-10 py-3 border z-10"
            >
              <ul class="list-none py-2 pl-2 pr-7">
                <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
                  <div class="flex gap-2">
                    <img src="assets/icons/Eye.svg" />
                    <p class="font-sans font-medium text-sm text-[#5E6670]">
                      View Detail
                    </p>
                  </div>
                </li>
                <li class="py-2 px-4 hover:bg-gray-100 cursor-pointer">
                  <div class="flex gap-2">
                    <img src="assets/icons/XCircle.svg" />
                    <p class="font-sans font-normal text-sm text-[#5E6670]">
                      Mark as expired
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <app-pagination
      [totalItems]="jobs.length"
      [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
