<form [formGroup]="form">
  <div class="space-y-6 w-full">
    <div formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="space-y-6 mt-5">
        <div class="border border-borderColor rounded-md relative p-3">
          <button type="button" class="absolute top-2 right-2 text-red-500 text-xl" (click)="removeQuestion(i)" aria-label="Remove Question">
            <img src="assets/icons/fi_x-circle.svg" alt="Remove Question" />
          </button>
          <label class="block text-[#18191C] text-sm font-medium mb-2">Custom Question {{ i + 1 }}</label>
          <input type="text" formControlName="label" placeholder="Enter your question" class="border border-borderColor rounded-md w-full px-3 py-2 focus:outline-none mb-2" />
          <div *ngIf="question.get('label')?.invalid && question.get('label')?.touched" class="text-red-500 text-sm">
            Question label is required.
          </div>

          <div [ngSwitch]="question.get('type')?.value">
            <div *ngSwitchCase="'radio'">
              <label class="block text-[#18191C] text-sm font-medium mb-2">Options:</label>
              <div formArrayName="options">
                <div *ngFor="let option of getOptions(i).controls; let j = index" class="flex items-center mb-2">
                  <input type="radio" [name]="'question' + i" disabled class="mr-2" />
                  <input type="text" [formControlName]="j" placeholder="Enter option" class="border border-borderColor rounded-md w-full px-3 py-2 focus:outline-none" />
                  <button type="button" (click)="removeOption(i, j)" aria-label="Remove Option" [disabled]="getOptions(i).length <= 2">
                    <img src="assets/icons/fi_x-circle.svg" alt="Remove Option" class="ml-4" />
                  </button>
                </div>
                <button type="button" class="text-[#0A65CC] text-sm mt-2" (click)="addOption(i)" [disabled]="getOptions(i).length >= maxOptions">
                  <div class="flex gap-3">
                    <img src="/assets/icons/fi_plus-circle-blue.svg" alt="Add Option" />
                    Add Option
                  </div>
                </button>
                <div *ngIf="getOptions(i).length >= maxOptions" class="text-gray-500 text-sm mt-1">
                  Maximum of {{ maxOptions }} options reached.
                </div>
                <div *ngIf="getOptions(i).hasError('duplicateOptions') && getOptions(i).touched" class="text-red-500 text-sm">
                  Options must be unique.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex space-x-4 mt-8">
      <div class="flex-1">
        <label for="questionType" class="block text-[#18191C] text-sm font-medium mb-2">Question Type</label>
        <select id="questionType" formControlName="newQuestionType" class="border border-borderColor rounded-md px-3 py-2 focus:outline-none w-full">
          <option value="text">Text</option>
          <option value="textarea">Textarea</option>
          <option value="radio">Radio</option>
        </select>
      </div>

      <div class="flex-1" *ngIf="form.get('newQuestionType')?.value === 'radio'">
        <label for="radioOptions" class="block text-[#18191C] text-sm font-medium mb-2">Number of Radio Options</label>
        <input type="number" formControlName="newRadioOptionsCount" id="radioOptions" min="2" class="border border-borderColor rounded-md px-3 py-2 focus:outline-none w-full" />
        <div *ngIf="form.get('newRadioOptionsCount')?.invalid && form.get('newRadioOptionsCount')?.touched" class="text-red-500 text-sm">
          Please enter at least 2 options.
        </div>
      </div>
    </div>

    <div class="flex items-end">
      <button type="button" (click)="addQuestion()" class="border border-[#0A65CC] rounded-md flex justify-center items-center gap-2 px-5 py-3 text-[#0A65CC] font-semibold">
        <img src="assets/icons/fi_plus-circle-blue.svg" alt="Add Question" />
        Add Question
      </button>
    </div>
  </div>
</form>