<div
  class="flex flex-col justify-between h-[700px] w-[288px] shadow-[inset_-1px_0_0_0_#E4E5E8] bg-white py-[24px] ;"
>
  <div class="flex flex-col">
    <div class="mx-[20px] mb-[12px]">
      <p class="text-[#9199A3] font-sans font-[500] text-[12px] leading-[18px]">
        DASHBOARD
      </p>
    </div>
    <div class="flex-col">
      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/GreyStack.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Overview
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/Briefcase.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          My Jobs
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/BookmarkSimple.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Hired Candidate
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/UserCircleGear.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Technical Interview
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/UserCircleMinus.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Exit Interview
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/Note.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Review Form
        </p>
      </div>

      <div class="flex items-center space-x-4 pl-[20px] py-[10px]">
        <img src="assets/icons/Gear.svg" />
        <p
          class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]"
        >
          Settings
        </p>
      </div>
    </div>
  </div>

  <div class="flex items-center space-x-4 pl-[20px] py-[10px] mt-24">
    <img src="assets/icons/SignOut.svg" />
    <p class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]">
      Log-Out
    </p>
  </div>
</div>
