<div
  class="flex flex-col justify-between shadow-[inset_-1px_0_0_0_#E4E5E8] bg-white py-4 h-[calc(100vh-76px-72px)] my-3 ;"
>
  <div class="flex flex-col">
    <div class="mx-[20px] mb-[12px]">
      <p class="text-[#9199A3] font-sans font-[500] text-[12px] leading-[18px]">
        DASHBOARD
      </p>
    </div>

    <div class="flex-col">
      <ng-container *ngFor="let item of sideBarItems">
        <div
          class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
          [routerLink]="item.route"
          [ngClass]="{
            'bg-[#E7F0FA]': selectedRoute === item.route,
            'bg-transparent': selectedRoute !== item.route
          }"
          (click)="selectRoute(item.route)"
        >
          <hr
            class="absolute left-0 h-full w-[4px] bg-custom-blue"
            *ngIf="selectedRoute === item.route"
          />
          <img
            [src]="selectedRoute === item.route ? item.iconSelected : item.icon"
          />
          <p
            class="font-[500] font-sans text-[14px] leading-[20px]"
            [ngClass]="{
              'text-custom-blue': selectedRoute === item.route,
              'text-[#767F8C]': selectedRoute !== item.route
            }"
          >
            {{ item.label }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    class="flex items-center space-x-4 pl-[20px] py-[10px] mt-24 cursor-pointer"
    (click)="logout()"
  >
    <img src="assets/icons/SignOut.svg" />
    <p class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]">
      Log-Out
    </p>
  </div>
</div>
