<div
  class="flex flex-col justify-between shadow-[inset_-1px_0_0_0_#E4E5E8] bg-white py-4 h-[calc(100vh-76px-72px)] my-3 ;"
>
  <div class="flex flex-col">
    <div class="mx-[20px] mb-[12px]">
      <p class="text-[#9199A3] font-sans font-[500] text-[12px] leading-[18px]">
        DASHBOARD
      </p>
    </div>
    <div class="flex-col">
      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="dashboard"
        [ngClass]="{
          'bg-[#E7F0FA]': isOverviewSelected,
          'bg-transparent': !isOverviewSelected
        }"
        (click)="selectOverview()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isOverviewSelected"
        />

        <img
          [src]="
            isOverviewSelected
              ? 'assets/icons/BlueStack.svg'
              : 'assets/icons/GreyStack.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isOverviewSelected,
            'text-[#767F8C]': !isOverviewSelected
          }"
        >
          Overview
        </p>
      </div>

      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="myjobs"
        [ngClass]="{
          'bg-[#E7F0FA]': isMyJobsSelected,
          'bg-transparent': !isMyJobsSelected
        }"
        (click)="selectMyJobs()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isMyJobsSelected"
        />

        <img
          [src]="
            isMyJobsSelected
              ? 'assets/icons/BriefcaseBlue.svg'
              : 'assets/icons/Briefcase.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isMyJobsSelected,
            'text-[#767F8C]': !isMyJobsSelected
          }"
        >
          My Jobs
        </p>
      </div>

      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="hiredCandidate"
        [ngClass]="{
          'bg-[#E7F0FA]': isHiredCandidateSelected,
          'bg-transparent': !isHiredCandidateSelected
        }"
        (click)="selectHiredCandidate()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isHiredCandidateSelected"
        />

        <img
          [src]="
            isHiredCandidateSelected
              ? 'assets/icons/BookmarkSimpleBlue.svg'
              : 'assets/icons/BookmarkSimple.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isHiredCandidateSelected,
            'text-[#767F8C]': !isHiredCandidateSelected
          }"
        >
          Hired Candidate
        </p>
      </div>
      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="technicalinterview"
        [ngClass]="{
          'bg-[#E7F0FA]': isTechnicalInterviewSelected,
          'bg-transparent': !isTechnicalInterviewSelected
        }"
        (click)="selectTechnicalInterview()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isTechnicalInterviewSelected"
        />

        <img
          [src]="
            isTechnicalInterviewSelected
              ? 'assets/icons/UserCircleGearBlue.svg'
              : 'assets/icons/UserCircleGear.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isTechnicalInterviewSelected,
            'text-[#767F8C]': !isTechnicalInterviewSelected
          }"
        >
          Technical Interview
        </p>
      </div>

      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="exitinterview"
        [ngClass]="{
          'bg-[#E7F0FA]': isExitInterviewSelected,
          'bg-transparent': !isExitInterviewSelected
        }"
        (click)="selectExitInterview()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isExitInterviewSelected"
        />

        <img
          [src]="
            isExitInterviewSelected
              ? 'assets/icons/UserCircleMinusBlue.svg'
              : 'assets/icons/UserCircleMinus.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isExitInterviewSelected,
            'text-[#767F8C]': !isExitInterviewSelected
          }"
        >
          Exit Interview
        </p>
      </div>

      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="reviewForm"
        [ngClass]="{
          'bg-[#E7F0FA]': isReviewFormSelected,
          'bg-transparent': !isReviewFormSelected
        }"
        (click)="selectReviewForm()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isReviewFormSelected"
        />

        <img
          [src]="
            isReviewFormSelected
              ? 'assets/icons/NoteBlue.svg'
              : 'assets/icons/Note.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isReviewFormSelected,
            'text-[#767F8C]': !isReviewFormSelected
          }"
        >
          Review Form
        </p>
      </div>

      <div
        class="flex items-center space-x-4 pl-[20px] py-[10px] relative cursor-pointer"
        routerLink="settings"
        [ngClass]="{
          'bg-[#E7F0FA]': isSettingsSelected,
          'bg-transparent': !isSettingsSelected
        }"
        (click)="selectSettings()"
      >
        <hr
          class="absolute left-0 h-full w-[4px] bg-custom-blue"
          *ngIf="isSettingsSelected"
        />

        <img
          [src]="
            isSettingsSelected
              ? 'assets/icons/GearBlue.svg'
              : 'assets/icons/Gear.svg'
          "
        />

        <p
          class="font-[500] font-sans text-[14px] leading-[20px]"
          [ngClass]="{
            'text-custom-blue': isSettingsSelected,
            'text-[#767F8C]': !isSettingsSelected
          }"
        >
          Settings
        </p>
      </div>
    </div>
  </div>

  <div
    class="flex items-center space-x-4 pl-[20px] py-[10px] mt-24 cursor-pointer"
    (click)="logout()"
  >
    <img src="assets/icons/SignOut.svg" />
    <p class="font-[500] font-sans text-[14px] leading-[20px] text-[#767F8C]">
      Log-Out
    </p>
  </div>
</div>
